table {
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
  width: 200px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.nav-list {
  display: flex;
  gap: 20px;
}
.container {
  padding: 0 15px;
  width: 1230px;
}
.footer-list {
  display: flex;
  gap: 30px;
  align-items: center;
}
